h1 {
  color: green;
}

.btn {
  width: 40px;
  height: 40px;
  background-color: aquamarine;
  font-size: 30px;
}

.wrapper {
  width: 400px;
  border: 2px solid blue;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}
