.layout {
  .header {
    background-color: #d6dddd;
    padding-top: 20px;
    padding-bottom: 25px;

    .logo {
      text-align: center;
      font-size: 30px;
      font-family: Verdana;
      color: #0614df;
      font-weight: bold;
    }
  }
}
